#contextual {
    position: relative;
    width: auto;
    height: 100%;
    background-color: #2155b5;
    z-index: 100;
    margin-top: -50px;
}

#contextual .bubble-background-top{
    background-image: url(../../img/backgrounds/bubble_01_blue.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -5%;
    top: 0;
    z-index: 5;
    opacity: 0.75;
}

#contextual .bubble-background-down{
    background-image: url(../../img/backgrounds/bubble_02_blue.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 65%;
    bottom: -5%;
    z-index: 5;
    opacity: 0.75;
}

#contextual::before{
    display: inline-block;
    content: '';
    width: 100%;
    position: absolute;
    background-image: url(../../img/backgrounds/plate_up_blue.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    z-index: -1;
}

#contextual h1 {
    color: #FF6E00;
}

.section-contextual-p-white {
    color: white;
    font-size: 15px;
    font-style: italic;
}

#arrows-contextual{
    margin: auto 0;
}

#arrows-contextual i {
    text-align: center;
    font-size: 50px;
    color: white;
    padding: 0 1rem;
}

#arrows-contextual .arrow-left a, #arrows-contextual .arrow-right a {
    display: block;
    text-align: center;
    background-color: transparent;
    border-radius: 50%;
    border: 1px white solid;
}

#arrows-contextual .arrow-left i{
    position: relative;
    right: 2.5px;
}

#arrows-contextual .arrow-right i{
    position: relative;
    left: 1.5px;
}


#arrows-contextual .arrow-left a:hover, #arrows-contextual .arrow-right a:hover {
    background-color: white;
}

#arrows-contextual .arrow-left a:hover i, #arrows-contextual .arrow-right a:hover i{
    font-size: 50px;
    color: #ff6e00;

}

.float-number {
    font-size: 20px;
    color: white;
    position: absolute;
    width: 47px;
    height: 47px;
    background-color: #FF6E00;
    border-radius: 50%;
    top: 0;
    margin-bottom: 40px;
}

#contextual-head{
    position: relative;
    z-index: 10;
    padding-top: 2rem;
}

#contextual-body {
    z-index: 10;
    margin-top: 55px;
}

#contextual-body h3 {
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin-top: 30px;
}

#contextual-body p {
    color: white;
    font-size: 16px;
    margin-top: 30px;
}

.box-image-contextual{
    position: relative;
    padding-top: 25px;
}

.box-image-contextual img{
    width: 100%!important;
}

#contextual-out {
    padding-top: 6rem;
    padding-bottom: 3rem;
    position: relative;
    z-index: 10;
}

#contextual-out img{
    width: 100%;
    padding-bottom: 2rem;
}

#contextual-out p {
    color: white;
    font-size: 16px;
    margin-top: 30px;
}

#contextual-out p:last-child {
    margin-top: 10px;
}

#contextual-out ul > li {
    padding: 5px 0;
}

#contextual-out ul > li::before {
    content: "✓ ";
    color: #C20000;
    font-size: 18px;
}

#contextual-out ul {
    color: white;
    list-style: none;
}

.contextual-btn {
    margin-top: 10px;
    text-transform: uppercase;
    padding: 1.5rem;
    background-color: #FF6E00;
    border-radius: 40px;
    text-shadow: none;
    font-weight: 700;
    font-size: 14px;
    color: white;
}

.contextual-btn:hover {
    background-color: #eb6b00;
    color: white;
}




@media (max-width: 767px) {
    #contextual .bubble-background-top{
        background: none;
    }

    #contextual .bubble-background-down{
        background: none;
    }
}

@media (max-width: 780px) {

    #contextual-head {
        padding: 1rem 0;
    }

    #contextual-body{
        padding-bottom: 3rem;
    }

    #arrows-contextual{
        display: none;
    }

    #contextual{
        padding: 2rem 0;
    }

    .section-contextual-p-white{
        font-size: 12px;
        margin: 0;
        padding: 0;
    }

    #contextual-out{
        padding-top: 0;
    }

}

@media (max-width: 992px) {

    #contextual{
        padding: 3rem 0;
    }

}