header {
    background-color: #ff6e11;
    color: white;
    background-image: url(../../img/backgrounds/buble_header_1.png),
    url(../../img/backgrounds/buble_header_2.png);
    background-position: -5vw 100%, right 100%;
    background-repeat: no-repeat;
    background-size: 50%;
}

header::after{
    display: inline-block;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    background-image: url(../../img/backgrounds/orange_down_text_right.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#header-menu {
    text-transform: uppercase;
    margin: 1.5rem auto 0;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

#header-menu .menu__item {
    padding: 0 2rem;
}

#header-menu .menu__item a{
    color: #fff;
    text-decoration: none;
}

#header-info {
    padding-top: 60px;
}

#header-info p {
    word-break: break-word;

}

#burger-bars{
    border: 1px white solid;
}

#burger-bars:hover,
#burger-bars:focus,
#burger-bars:active{
    outline: none;
    background: none;
    box-shadow: none;
}

#burger-menu{
    text-align: left;
    padding: 1rem 0 2rem 0;
}

#burger-menu .nav-item{
    background-color: #e65c00;
    padding: 0.3rem 1rem;
    border-bottom: 1px #ffffff80 solid;
}

#burger-menu .nav-item:last-child{
    border: none;
}

#burger-menu .nav-item .nav-link{
    color: #fff;
    text-decoration: none;
}


@media (max-width: 570px) {
    header #info-mail{
        padding: 0;
    }

    header .contact-block #info-number p{
        margin-bottom: 2rem!important;
    }
}

@media (max-width: 576px) {
    header{
        background-image: none;
    }


    header .logo-block p{
        text-align: center!important;
        margin-bottom: 2rem!important;
    }


}

@media (min-width: 576px) and (max-width: 767px) {
    header .logo-block p{
        text-align: left!important;
        margin-bottom: 0!important;
    }

    header .contact-block #info-number p, header .contact-block #info-mail p{
        margin-bottom: 0;
        text-align: left;
    }
}

@media (max-width: 767px) {
    #header-menu {
        display: none !important;
    }

    header #info-mail{
        padding: 0;
    }

    header .contact-block{
        margin: auto 0;
    }

    header{
        background-position-x: left, right;
        background-position-y: -50px, -80px;
        background-size: 25%;
    }
}

@media (max-width: 780px) {

    header {
        background-color: #FF6E00;
        margin-bottom: 30px;
        text-align: center !important;
    }

    #burger-bars i {
        color: white;
        font-size: 32px;
    }

    #burger-bars {
        display: inline-block;
    }
}

@media (max-width: 992px) {

    header .container {
        padding-top: 15px;
    }

    #header-info {
        text-align: center;
    }
}

@media (max-width: 1200px) {

    #header-menu {
        padding-top: 0;
    }
}


@media (min-width: 767px) and (max-width: 992px) {
    header #info-mail{
        padding: 0;
    }

    header .contact-block{
        margin: auto 0;
    }

    header .contact-block #info-number p{
        margin-bottom: 0;
    }

    header .logo-block p{
        text-align: left;
        margin-bottom: 0;
    }
}