#section-articles h1 {
    color: #FF6E00;
    margin-bottom: 58px;
}

#section-reviews h1 {
    color: #FF6E00;
}

#arrows-reviews
{
    margin: auto 0;
}

#arrows-reviews i {
    text-align: center;
    font-size: 50px;
    color: #C20000;
    padding: 0 1rem;
}

#arrows-reviews .arrow-left a, #arrows-reviews .arrow-right a {
    display: block;
    text-align: center;
    background-color: transparent;
    border-radius: 50%;
    border: 1px #C20000 solid;
}

#arrows-reviews .arrow-left i{
    position: relative;
    right: 2.5px;
}

#arrows-reviews .arrow-right i{
    position: relative;
    left: 1.5px;
}


#arrows-reviews .arrow-left a:hover, #arrows-reviews .arrow-right a:hover {
    background-color: #C20000;
}

#arrows-reviews .arrow-left a:hover i, #arrows-reviews .arrow-right a:hover i{
    font-size: 50px;
    color: white;

}

#arrows-article i {
    text-align: center;
    font-size: 50px;
    color: #C20000;
    padding: 0 1rem;
}

#arrows-article .arrow-left a, #arrows-article .arrow-right a {
    display: block;
    text-align: center;
    background-color: transparent;
    border-radius: 50%;
    border: 1px #C20000 solid;
}

#arrows-article .arrow-left i{
    position: relative;
    right: 2.5px;
}

#arrows-article .arrow-right i{
    position: relative;
    left: 1.5px;
}

#arrows-article .arrow-left a:hover, #arrows-article .arrow-right a:hover {
    background-color: #C20000;
}

#arrows-article .arrow-left a:hover i, #arrows-article .arrow-right a:hover i{
    font-size: 50px;
    color: white;

}


.reviews-and-articles{
    z-index: 50;
    display: inline-block;
    background-size: cover;
    position: relative;

    height: auto;
    width: 100%;

    background: url(../../img/backgrounds/bubble_01.png) no-repeat left 0,
    url(../../img/backgrounds/bubble_02.png) no-repeat right 100%;
}


.reviews-and-articles:before {
    content: url(../../img/backgrounds/graphic_element_01_red.png);
    z-index: -1;
    position: absolute;
    top: -18%;
    left: 50%;
    height: 213px;
    width: 213px;
}

.reviews-and-articles #reviews-body:before{
    content: url(../../img/backgrounds/graphic_element_03_rotate.png);
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    height: 141px;
    width: 141px;
}

.reviews-and-articles #section-articles:before{
    content: url(../../img/backgrounds/graphic_element_02.png);
    z-index: -1;
    position: absolute;
    top: 55%;
    left: 15%;
    height: 23px;
    width: 140px;
}

.reviews-and-articles #section-articles:after{
    content: url(../../img/backgrounds/graphic_element_04.png);
    z-index: -1;
    position: absolute;
    top: 45%;
    left: 45%;
    height: 232px;
    width: 199px;
}

#reviews-head{
    margin-bottom: 3rem;
}

#reviews-body .box-review img{
    border-radius: 100%;
    margin: 0 auto;
}

#reviews-body .box-gray {
    background-color: #F4F8F9;
    padding: 3rem;
    width: 75%;
    height: 85%;
    float: right;
}

.rv-name {
    font-size: 24px;
    font-weight: bold;
}

.rv-position {
    color: #9CB1B6;
    font-size: 14px;
    font-style: italic;
}

.rv-site {
    font-size: 16px;
}

.rv-site a {
    color: #FF6E00;
}

.rv-desc {
    font-size: 16px;
    font-style: italic;
}

.ul-rate {
    position: relative;
    margin-top: 50px;
    font-size: 16px;
    line-height: 30px;
}

.ul-rate span {
    position: absolute;
    right: 0;
    text-align: right;
    font-weight: bold;
    color: #C20000;
}

#section-articles {
    margin-top: 100px;
    margin-bottom: 100px;
}

#article-body .box-article {
    height: auto;
    padding: 30px 20px;
    margin-bottom: 20px;
    border: 1px solid #9CB1B6;
}
#article-body .box-article:hover .link-article{
    color: #C20000;
    text-decoration: none;
}

.category {
    color: #9CB1B6;
    font-size: 18px;
    font-style: italic;
}

.link-article {
    font-size: 18px;
    font-weight: bold;
    color: black;

}

.date {
    margin-top: 30px;
    display: block;
    color: #9CB1B6;
    font-size: 18px;
    font-style: italic;
}










@media (max-width: 780px) {

    #reviews-body .box-gray {
        padding: 2rem;
        height: 100%;
        width: 100%;
    }

    #article-head, #reviews-head {
        padding: 1rem 0;
    }

    #article-body, #reviews-body {
        padding-bottom: 3rem;
    }

    #arrows-article, #arrows-reviews {
        display: none;
    }

    #section-articles{
        padding: 2rem 0;
    }

}

@media (max-width: 992px) {

    #section-articles{
        padding: 3rem 0;
    }

}

@media (max-width: 1200px) {

    .reviews-and-articles:before {
        content: none;
        background: none;
    }

    .reviews-and-articles #reviews-body:before{
        content: none;
        background: none;
    }

    .reviews-and-articles #section-articles:before{
        content: none;
        background: none;
    }

    .reviews-and-articles #section-articles:after{
        content: none;
        background: none;
    }

    #reviews-body .box-gray{
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {

    #reviews-body .box-gray{
        width: 85%;
        height: 85%;
    }
}