#cases-page h1{
    color: #C20000;
}

#arrows-cases i {
    text-align: center;
    font-size: 50px;
    color: #C20000;
    padding: 0 1rem;
}

#arrows-cases .arrow-left a, #arrows-cases .arrow-right a {
    display: block;
    text-align: center;
    background-color: transparent;
    border-radius: 50%;
    border: 1px #c20000 solid;
}

#arrows-cases .arrow-left i{
    position: relative;
    right: 2.5px;
}

#arrows-cases .arrow-right i{
    position: relative;
    left: 1.5px;
}


#arrows-cases .arrow-left a:hover, #arrows-cases .arrow-right a:hover {
    background-color: #C20000;
}

#arrows-cases .arrow-left a:hover i, #arrows-cases .arrow-right a:hover i{
    font-size: 50px;
    color: white;

}

#cases-page #cases-page-body .slick-slide>div{
    margin-bottom: 4rem;
}

#cases-page #cases-page-body .card{
    border: none;
}

#cases-page #cases-page-body .card .card-img-overlay{
    padding: 4rem 3rem 2rem;
}

#cases-page #cases-page-body .card .card-title{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

#cases-page #cases-page-body .card .card-text{
    font-size: 16px;
    font-weight: 100;
    color: white;
}

#cases-page #cases-page-body .card .info-cases {
    display: block;
    width: auto;
    position: absolute;
    bottom: 5%;
}

#cases-page #cases-page-body .card .info-cases p {
    display: inline-block;
    color: white;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;
}

#cases-page #cases-page-body .card .info-cases p:nth-of-type(odd) {
    margin-right: 45px;
}

#cases-page #cases-page-body .card .info-cases p span.digit{
    font-size: 48px;
    font-weight: bold;
}

#cases-page #cases-page-body .card .info-cases p span.digit i{
    font-size: 18px;
    font-weight: bold;
}

#cases-page #cases-page-body .card:hover .btn-box {
    display: block;
    position: absolute;
    top: calc(55% - 16px);
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#cases-page #cases-page-body .card .btn-box{
    display: none;
}

#cases-page #cases-page-body .card .btn-box a{
    display: block;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;

    margin-bottom: 1rem;
}

#cases-page #cases-page-body .card .btn-box a.details-link{
    color: white;
    background-color: #C20000;
}

#cases-page #cases-page-body .card .btn-box a.download-pdf{
    color: white;
    background: none;
    border: 1px solid white;
}

#cases-page #cases-page-body .card .btn-box a.details-link:hover,
#cases-page #cases-page-body .card .btn-box a.details-link:focus,
#cases-page #cases-page-body .card .btn-box a.details-link:active{
    background-color: #ae0000;
}

#cases-page #cases-page-body .card .btn-box a.download-pdf:hover,
#cases-page #cases-page-body .card .btn-box a.download-pdf:focus,
#cases-page #cases-page-body .card .btn-box a.download-pdf:active{
    color: white;
    background: #ae0000;
    border: 1px solid #ae0000;
}


#cases-page .load-more{
    background: none;
    color: #C20000;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #C20000;
    text-align: center;
    border-radius: 40px;
    text-transform: uppercase;
    padding: 1rem 2rem;
    margin: 0 auto 1rem;
}
#cases-page .load-more:hover,
#cases-page .load-more:focus,
#cases-page .load-more:active{
    background: #C20000;
    color: white;
}

#cases-page .category-filter .list-inline-item:not(:last-child){
    margin-right: 0;
}

#cases-page .category-filter ul li:not(.current){
    padding: 1rem 1.6rem;
}

#cases-page .category-filter ul li a{
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
    border-bottom: 1px #333333 dashed;
    transition: none;
}

#cases-page .category-filter ul li.current a{
    border: 1px #c20000 solid;
    padding: 1rem 1.6rem;
    border-radius: 30px;
    color: #c20000;
}


#cases-page ul.cases-filter{
    margin-bottom: 0;
}

#cases-page ul.cases-filter .list-inline-item:not(:last-child){
    margin-right: 0;
}

#cases-page ul.cases-filter li{
    padding: 1rem 0;
}

#cases-page ul.cases-filter li a{
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #333333;
    text-decoration-style: dotted;
    text-decoration-color: #333333;
    padding: 1rem 1.5rem;
    transition: none;
}

#cases-page ul.cases-filter li.current a{
    color: #c20000;
    text-decoration: none;
}


#cases-page::before{
    content: '';
    z-index: -2;
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: url(../../img/backgrounds/bubble_01.png) no-repeat left 1vw,
    url(../../img/backgrounds/bubble_02.png) no-repeat right 20vw;
}


#cases-page::after {
    content: '';
    z-index: -2;
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: left 45%, right 55%;
    background-image: url(../../img/backgrounds/bubble_01.png), url(../../img/backgrounds/bubble_02.png);

}

#cases-page .category-filter:after{
    content: url(../../img/backgrounds/graphic_element_01.png);
    z-index: -1;
    width: 213px;
    height: 213px;
    position: absolute;
    right: 9%;
}

#cases-page .category-filter:before{
    content: url(../../img/backgrounds/graphic_element_02.png);
    z-index: -1;
    width: 140px;
    height: 23px;
    position: absolute;
    left: 10%;
    top: 18%;
}

#cases-page #cases-page-body:after{
    content: url(../../img/backgrounds/graphic_element_03.png);
    z-index: -1;
    width: 141px;
    height: 141px;
    position: absolute;
    left: 91%;
    bottom: 45%;
}

#cases-page #cases-page-body:before{
    content: url(../../img/backgrounds/graphic_element_04.png);
    z-index: -1;
    width: 199px;
    height: 232px;
    position: absolute;
    left: -10%;
    bottom: 20%;
}




@media (max-width: 780px) {

    #cases-head {
        padding: 1rem 0;
    }

    #cases-page-body {
        padding-bottom: 3rem;
    }

    #arrows-cases {
        display: none;
    }

    #cases-page{
        padding: 2rem 0;
    }

}

@media (max-width: 992px) {

    #cases-page{
        padding: 3rem 0;
    }

}

@media (max-width: 1200px) {

    #cases-page .category-filter:after{
        content: none;
        background: none;
    }

    #cases-page .category-filter:before{
        content: none;
        background: none;
    }

    #cases-page #cases-page-body:after{
        content: none;
        background: none;
    }

    #cases-page #cases-page-body:before{
        content: none;
        background: none;
    }
}