#section-services h1 {
    color: #FF6E00;
}

.section-services-p-grey {
    color: #9CB1B6;
    font-style: italic;
    font-size: 15px;
}

#arrows-services i {
    text-align: center;
    font-size: 50px;
    color: #C20000;
    padding: 0 1rem;
}

#arrows-services .arrow-left a, #arrows-services .arrow-right a {
    display: block;
    text-align: center;
    background-color: transparent;
    border-radius: 50%;
    border: 1px #c20000 solid;
}

#arrows-services .arrow-left i{
    position: relative;
    right: 2.5px;
}

#arrows-services .arrow-right i{
    position: relative;
    left: 1.5px;
}


#arrows-services .arrow-left a:hover, #arrows-services .arrow-right a:hover {
    background-color: #C20000;
}

#arrows-services .arrow-left a:hover i, #arrows-services .arrow-right a:hover i{
    font-size: 50px;
    color: white;

}

#section-services{
    margin-top: 3rem;
    background-image: url(../../img/backgrounds/women_with_pc.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right 100%;
    z-index: 150;
    padding-bottom: 20rem;
    overflow-x: hidden;
}

#section-services.no-bg{
    padding-bottom: 10rem;
}

#section-services.no-bg{
    background: none!important;
}

#section-services::before {
    content: '';
    z-index: -2;
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: url(../../img/backgrounds/bubble_01.png) no-repeat left 1vw,
    url(../../img/backgrounds/bubble_02.png) no-repeat right 30vw;

}

#section-services .services:after{
    content: url(../../img/backgrounds/graphic_element_02.png);
    z-index: -1;
    height: 100%;
    width: auto;
    position: relative;
    top: 60px;
    left: -160px;
    right: 0;
}

#section-services.no-bg .services:after{
    bottom: 75vh;
    top: auto;
}

#section-services #services-blocks-no-slider .service-item{
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.service-item .card{
    border: none;
    min-height: 330px;
    background: none;
}

.service-item .card .card-body{
    padding: 0;
}

.service-item .card .card-head{
    margin: 0;
}


.service-item img {
    display: block;
    margin-bottom: 20px;
}

.service-item h3 {
    display: block;
    color: #333333;
    font-size: 20px;
    font-weight: normal;
    min-height: 50px;
    margin-bottom: 35px;
}

.service-item p {
    display: block;
    color: #9CB1B6;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 30px;
}

.service-item a {
    display: inline-flex;
    font-size: 14px;
    padding: 1rem 2rem;
    background: white;
    border: 2px solid #C20000;
    border-radius: 35px;
    text-transform: uppercase;
    color: #C20000;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0.3rem;
}

.service-item a:hover {
    background: #C20000;
    color: white;
}

.service-item a {
    text-decoration: none;
}

#section-services .ads:before{
    content: url(../../img/backgrounds/graphic_element_01.png);
    z-index: -1;
    height: auto;
    width: 100%;
    position: relative;
    top: 30px;
    left: 60%;
}

.ads-block {
    text-align: center;
}

.big-text {
    color: #FF6E00;
    font-size: 100px;
    font-weight: 700;
}

.big-text-black {
    font-size: 40px;
    font-weight: 700;
    color: #4a5751
}

.ads {
    text-align: center;
    margin-top: -213px;
}

.ads p {
    font-weight: 500;
    color: #4a5751;
    font-size: 16px;
}

#service-head {
    padding-bottom: 64px;
}

#section-services .targeting:before{
    content: url(../../img/backgrounds/graphic_element_03.png);
    z-index: -1;
    height: auto;
    width: 100%;
    position: relative;
    top: 80px;
    left: 100%;
}

#section-services .targeting #targeting-img:before{
    content: url(../../img/backgrounds/graphic_element_04.png);
    z-index: -1;
    height: auto;
    width: 100%;
    position: relative;
    right: 50%;
    top: 450px;
}

#section-services .targeting #targeting-img{
    margin-top: -232px;
}

#section-services .targeting #targeting-img img{
    width: 100%;
}

#section-services .targeting{
    margin-top: -141px;
}

.targeting .row {
    margin-bottom: 15px;
    margin-top: 15px;
}

.targeting-item {
    margin-bottom: 54px;
}

.targeting-item:last-child {
    margin-bottom: 18px
}

.targeting-item img {
    padding-right: 1rem;
    padding-bottom: 15%;

}

.targeting-item h2 {
    padding-left: 84px;
    font-weight: 700;
    font-size: 24px;
}

.targeting-item p {
    padding-left: 84px;
}

.ads-company ul {
    margin-top: 50px;
    font-size: 16px;

}

.ads-company ul li::before {
    content: "\2022";
    color: #ff6e00;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


@media (max-width: 780px) {

    #service-head{
        padding: 1rem 0;
    }

    #services-blocks{
        padding-bottom: 3rem;
    }

    #arrows-services{
        display: none;
    }

    #section-services{
        padding: 2rem 0;
    }

    .section-services-p-grey{
        font-size: 12px;
        margin: 0;
        padding: 0;
    }



}

@media (max-width: 992px) {

    #section-services{
        padding: 3rem 0 7rem;
    }

    #section-services:before{
        content: none;
        background: none;
    }
}

@media (max-width: 1200px) {


    #section-services .services:after{
        content: none;
        background: none;
    }

    #section-services .ads:before{
        content: none;
        background: none;
    }

    #section-services .ads{
        margin-top: 0;
    }

    #section-services .targeting{
        margin-top: 0;
    }

    #section-services .targeting #targeting-img{
        margin-top: 0;
    }

    #section-services .targeting:before{
        content: none;
        background: none;
    }

    #section-services .targeting #targeting-img:before{
        content: none;
        background: none;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .service-item a{
        padding: 1rem 1rem;
    }
    .service-item h3{
        min-height: 90px;
    }
}
